<ion-header>
  <ion-toolbar>
    <ion-title>playRoom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="desc">{{desc}}</p>
  <div class="menu" *ngIf="menu=='normal'">
    <ion-button color="dark" (click)="showRun()">Run</ion-button>
    <ion-button color="dark" (click)="showFight()">Fight</ion-button>
  </div>
  <div class="menu" *ngIf="menu=='fight'">
    <ion-button color="dark" (click)="useDice()">FIGHT</ion-button>
  </div>
  <div class="menu" *ngIf="menu=='run'">
    <p>{{dice}}</p>
    <ion-button color="dark" (click)="useDice()">Dice</ion-button>
  </div>
  <div class="menu" *ngIf="menu=='equip'">
    <ion-button color="dark" (click)="showRun()">Run</ion-button>
    <ion-button color="dark" (click)="showFight()">Run</ion-button>
  </div>
</ion-content>